[Unit]
Description=Face Blur Sample
Requires=NetworkManager-wait-online.service
After=NetworkManager-wait-online.service
Conflicts=detection.service headpose.service facedetect.service segmentation.service bodypose.service

StartLimitAction=reboot
StartLimitIntervalSec=60
StartLimitBurst=3

[Service]
Type=simple
User=root
ExecStart=/usr/bin/faceblurgl_headless
Restart=always
RestartSec=2
ExecStartPre=/bin/sleep 1

[Install]
WantedBy=multi-user.target
