[Unit]
Description=People Segmentation Sample
Requires=NetworkManager-wait-online.service
After=NetworkManager-wait-online.service
Conflicts=detection.service headpose.service facedetect.service faceblur.service bodypose.service

StartLimitAction=reboot
StartLimitIntervalSec=60
StartLimitBurst=3

[Service]
Type=simple
User=root
ExecStart=/usr/bin/segmentationgl_headless
Restart=always
RestartSec=2
ExecStartPre=/bin/sleep 1

[Install]
WantedBy=multi-user.target
